<h1 class="page-title">Listing Users</h1>
<hr/>
<table class="table table-responsive slide-up">
  <thead>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Role</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th><%= user.id %></th>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td>
          <%= 
          if user.admin?
            user.admin
          else
            "false"
          end 
          %>
        </td>
        <td><%= link_to 'Show', user, :class => "btn btn-default slide-in-right" %></td>
        <td><%= link_to 'Edit', edit_user_path(user), :class => "btn btn-default slide-in-right" %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default slide-in-right" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, :class => "btn btn-default slide-in-right" %>
