<p id="notice"><%= notice %></p>

<h5 class="product-name">
  <%= @product.name %>
</h5>

<p class="product-description">
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p class="product-page-img">
  <%= image_tag(@product.avatar) %>
</p>

<p class="product-page-color">
  <strong>Product Colour</strong>
  <%= @product.colour %>
</p>

<%= link_to 'Edit', edit_product_path(@product), :class => "btn btn-default" %>
<%= link_to 'Back', products_path, :class => "btn btn-default" %>
