<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
  <title>MyRailsApp</title>
  
  <!--Bootstrap CSS-->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  
  <!--Google fonts-->
  <link href='http://fonts.googleapis.com/css?family=Niconne' rel='stylesheet' type='text/css'>
  
  <!--Animate CSS-->
  <link href="https://raw.githubusercontent.com/daneden/animate.css/master/animate.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <!--jQuery-->
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>  
  <!--Bootstrap js-->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="nav-container">
    <div class="row">
      <div class="col-xs-12">
        <nav class="navbar navbar-default navbar-collapse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a id="nav-brand" class="navbar-brand logo" href="/">
                <%= link_to '<span class="glyphicon glyphicon-music"></span> <span class="logo-text">Sweet Music</span>'.html_safe, root_path, :class => "navbar-brand logo" %>
              </a>
            </div>
            
            <div class="collapse navbar-collapse text-right" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav right">
                <li><%= link_to "Home", root_path %></li>
                <li><a href="/products">Instruments</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div><!--end Container-->
  
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <%= yield %>
      </div>
    </div>
  </div><!--end Container-->

</body>
</html>
